venv/

bitnet_b1_58-xl/
bitnet_b1_58-large/

jupyter/semeval25-unlearning-data/
jupyter/semeval25-unlearning-model/

logs/

*.o[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.o[0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.e[0-9][0-9][0-9][0-9][0-9][0-9][0-9]
