--extra-index-url=https://download.pytorch.org/whl/cu118
torch
transformers
huggingface_hub
pandas 
pyarrow
numpy<2
jupyter
ipykernel
ipywidgets
sentencepiece
protobuf
accelerate
datasets
rouge-score
scikit-learn
tensorboard
safetensors
matplotlib